.empty button{
    border: none;
    outline: none;
    background: #333;
    color: white;
    width: 10%;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 15px 0;
}